<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Table 1</title>
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>-->
    <link rel="stylesheet" type="text/css" href="  ind.css">
</head>
<body>


<div th:if="${message}" class="alert alert-success">
    [[${message}]]
</div>

<!--    <form th:action="@{/saveUpdate/{article}}" th:method="Post" th:object="${startUp}">-->

<!--    <select class = "form-control" >-->
<!--    <option value="">Select start month</option>-->
<!--    <option th:each="up : ${profitOpen}"-->
<!--            th:value="${up}"-->
<!--            th:text="${up}">-->
<!--    </option>-->
<!--    </select>-->
<!--    <button type="submit">Not in time</button>-->
<!--    </form>-->


<form th:method="GET" th:action="@{/new}">
    <div class="text-center">

        <button type="submit" class="btn">New Profit Attribute</button>
    </div>
</form>
<!--<div class="container-fluid text-center">-->
<!--    <a type="button" class="btn-dark" th:href="@{/new}"><h3>New Profit Attribute</h3></a>-->
<!--</div>-->



<div class="snippet-container mtb-3">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th> Profit List</th>
            </tr>
            <tr>
                <th>Attribute</th>
                <th>January</th>
                <th>February</th>
                <th>March</th>
                <th>April</th>
                <th>May</th>
                <th>June</th>
                <th>July</th>
                <th>August</th>
                <th>September</th>
                <th>October</th>
                <th>November</th>
                <th>December</th>
                <th>Year</th>
                <th>Setting</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:if="${profitOpen.article}">[[${profitOpen.article}]]</td>
                <td th:text="${profitOpen.january}"></td>
                <td th:text="${profitOpen.february}"></td>
                <td th:text="${profitOpen.march}"></td>
                <td th:text="${profitOpen.april}"></td>
                <td th:text="${profitOpen.may}"></td>
                <td th:text="${profitOpen.june}"></td>
                <td th:text="${profitOpen.july}"></td>
                <td th:text="${profitOpen.august}"></td>
                <td th:text="${profitOpen.september}"></td>
                <td th:text="${profitOpen.october}"></td>
                <td th:text="${profitOpen.november}"></td>
                <td th:text="${profitOpen.december}"></td>
                <td th:text="${profitOpen.year}"></td>
            </tr>
            <tr>
                <td th:if="${profitBalance.article}">[[${profitBalance.article}]]</td>
                <td th:text="${profitBalance.january}"></td>
                <td th:text="${profitBalance.february}"></td>
                <td th:text="${profitBalance.march}"></td>
                <td th:text="${profitBalance.april}"></td>
                <td th:text="${profitBalance.may}"></td>
                <td th:text="${profitBalance.june}"></td>
                <td th:text="${profitBalance.july}"></td>
                <td th:text="${profitBalance.august}"></td>
                <td th:text="${profitBalance.september}"></td>
                <td th:text="${profitBalance.october}"></td>
                <td th:text="${profitBalance.november}"></td>
                <td th:text="${profitBalance.december}"></td>
                <td th:text="${profitBalance.year}"></td>
            </tr>
            <tr th:each="profits:${listProfits}">
                <td th:text="${profits.article}">article</td>
                <td th:text="${profits.january}"></td>
                <td th:text="${profits.february}"></td>
                <td th:text="${profits.march}"></td>
                <td th:text="${profits.april}"></td>
                <td th:text="${profits.may}"></td>
                <td th:text="${profits.june}"></td>
                <td th:text="${profits.july}"></td>
                <td th:text="${profits.august}"></td>
                <td th:text="${profits.september}"></td>
                <td th:text="${profits.october}"></td>
                <td th:text="${profits.november}"></td>
                <td th:text="${profits.december}"></td>
                <td th:text="${profits.year}"></td>
                <td>
                    <a class="h4 mr-3" th:href="@{'/update/' + ${profits.article}}">Edit</a>
                    <a class="h4" th:href="@{'/delete/' + ${profits.article}}">Delete</a>
                </td>
            </tr>
            <tr>
            <tr th:each="total:${listProfitTotal}">
                <td th:text="${total.article}">article</td>
                <td th:text="${total.january}"></td>
                <td th:text="${total.february}"></td>
                <td th:text="${total.march}"></td>
                <td th:text="${total.april}"></td>
                <td th:text="${total.may}"></td>
                <td th:text="${total.june}"></td>
                <td th:text="${total.july}"></td>
                <td th:text="${total.august}"></td>
                <td th:text="${total.september}"></td>
                <td th:text="${total.october}"></td>
                <td th:text="${total.november}"></td>
                <td th:text="${total.december}"></td>
                <td th:text="${total.year}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<form th:method="GET" th:action="@{/newSpending}">
    <div class="text-center">
        <button type="submit" class="btn">New Spending Attribute</button>
    </div>
</form>

<!--<div class="container-fluid text-center">-->
<!--    <div class="m-2">-->
<!--        <a class="border-bottom" th:href="@{/newSpending}"><h3>New Spending Attribute</h3></a>-->
<!--    </div>-->
<!--</div>-->

<div class="snippet-container mtb-3">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th> Spending List</th>
            </tr>
            <tr>
                <th>Attribute</th>
                <th>January</th>
                <th>February</th>
                <th>March</th>
                <th>April</th>
                <th>May</th>
                <th>June</th>
                <th>July</th>
                <th>August</th>
                <th>September</th>
                <th>October</th>
                <th>November</th>
                <th>December</th>
                <th>Year</th>
                <th>Setting</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="Spending:${listSpending}">
                <td th:text="${Spending.article}">article</td>
                <td th:text="${Spending.january}"></td>
                <td th:text="${Spending.february}"></td>
                <td th:text="${Spending.march}"></td>
                <td th:text="${Spending.april}"></td>
                <td th:text="${Spending.may}"></td>
                <td th:text="${Spending.june}"></td>
                <td th:text="${Spending.july}"></td>
                <td th:text="${Spending.august}"></td>
                <td th:text="${Spending.september}"></td>
                <td th:text="${Spending.october}"></td>
                <td th:text="${Spending.november}"></td>
                <td th:text="${Spending.december}"></td>
                <td th:text="${Spending.year}"></td>
                <td>
                    <a class="h4 mr-3" th:href="@{'/updateSpending/' + ${Spending.article}}">Edit</a>
                    <a class="h4" th:href="@{'/deleteSpending/' + ${Spending.article}}">Delete</a>
                </td>
            </tr>
            <tr>
            <tr th:each="total:${listSpendingTotal}">
                <td th:text="${total.article}">article</td>
                <td th:text="${total.january}"></td>
                <td th:text="${total.february}"></td>
                <td th:text="${total.march}"></td>
                <td th:text="${total.april}"></td>
                <td th:text="${total.may}"></td>
                <td th:text="${total.june}"></td>
                <td th:text="${total.july}"></td>
                <td th:text="${total.august}"></td>
                <td th:text="${total.september}"></td>
                <td th:text="${total.october}"></td>
                <td th:text="${total.november}"></td>
                <td th:text="${total.december}"></td>
                <td th:text="${total.year}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>